<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firsttest.test.fivegroupproject">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".app.MyApp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".wyl.reserve.ReserveActivity">

        </activity>
        <activity android:name=".wyl.course.CourseFigureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".wyl.news.NewsActivity">

        </activity>
        <!--课程-->
        <activity android:name=".wyl.curriculum.CurriculumActivity">

        </activity>
        <!--登录-->
        <activity android:name=".wyl.login.LoginActivity">

        </activity>
        <!--购买-->
        <activity android:name=".wyl.GoodsActivity">

        </activity>
        <!--家长专区-->
        <activity android:name=".wyl.parent.ParentActivity">

        </activity>
        <!--日历-->
        <activity android:name=".wyl.CalendarActivity">

        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>